{
  "groups": [
    {
      "_id": "unknown",
      "name": "Unknown",
      "roles": [
        {
          "access": "admin",
          "uid": "user1@example.com"
        }
      ]
    }
  ],
  "users": [
    {
      "_id": "user1@example.com",
      "email": "user1@example.com",
      "firstname": "First",
      "lastname": "User",
      "wheel": true
    }
  ]
}
