# vim: filetype=sh

#SCITRAN_RUNTIME_HOST="127.0.0.1"
#SCITRAN_RUNTIME_PORT="8080"
#SCITRAN_RUNTIME_PATH="./runtime"
#SCITRAN_RUNTIME_SSL_PEM="*"
#SCITRAN_RUNTIME_BOOTSTRAP="bootstrap.json"

#SCITRAN_CORE_DEBUG=false                           # emit stack trace on error
#SCITRAN_CORE_INSECURE=false                        # accept user name as query param
#SCITRAN_CORE_LOG_LEVEL=debug
#SCITRAN_CORE_NEWRELIC=none
#SCITRAN_CORE_DRONE_SECRET=""

#SCITRAN_SITE_ID=""
#SCITRAN_SITE_NAME=""
#SCITRAN_SITE_URL=""
#SCITRAN_SITE_CENTRAL_URL=""
#SCITRAN_SITE_REGISTERED=""
#SCITRAN_SITE_SSL_CERT=""

#SCITRAN_PERSISTENT_PATH="./persistent"
#SCITRAN_PERSISTENT_DATA_PATH="./persistent/data"   # for fine-grain control
#SCITRAN_PERSISTENT_DB_PATH="./persistent/db"       # for fine-grain control
#SCITRAN_PERSISTENT_DB_PORT=9001
#SCITRAN_PERSISTENT_DB_URI="mongodb://localhost:$SCITRAN_PERSISTENT_DB_PORT/scitran"
#SCITRAN_PERSISTENT_DB_CONNECT_TIMEOUT=2000
#SCITRAN_PERSISTENT_DB_SERVER_SELECTION_TIMEOUT=3000

#SCITRAN_AUTH_AUTH_ENDPOINT=""
#SCITRAN_AUTH_CLIENT_ID=""
#SCITRAN_AUTH_ID_ENDPOINT=""
#SCITRAN_AUTH_VERIFY_ENDPOINT=""
